/* .div1{
display: flex;
justify-content: space-between;
padding: 1rem;
} */
body {
  font-family: sans-serif;
}
.color-font {
  color: black;
}

.size-p {
  width: 40%;
  font-size: 1.5rem;
}

.color-link a {
    color: black;
}